<div class="text-center">
    <h1 class="text-info pt-4">Congratulations ! You are ane closer to nerd lifestyle.</h1>
    <p class="pb-3"> We have received your payment will be processed soon !</p>
    <img src="/images/pagamentoEfetuado.png" style="width: 80%" />
</div>
